@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 100% 2%; /* texto mais escuro */

    --card: 0 0% 100%;
    --card-foreground: 222.2 100% 2%; /* texto mais escuro */

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 100% 2%; /* texto mais escuro */

    --primary: 222.2 84% 10%; /* mais escuro */
    --primary-foreground: 0 0% 100%; /* branco */

    --secondary: 210 40% 94%; /* mais contraste */
    --secondary-foreground: 222.2 84% 10%; /* mais escuro */

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 36.9%; /* mais escuro */

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 84% 10%; /* mais escuro */

    --destructive: 0 84.2% 50.2%; /* mais contraste */
    --destructive-foreground: 0 0% 100%;

    --border: 214.3 31.8% 80%; /* mais contraste */
    --input: 214.3 31.8% 80%;
    --ring: 222.2 84% 10%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 16.1%; /* mais escuro */
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 81%; /* mais contraste */
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 222.2 84% 5.5%;
    --foreground: 210 40% 98%;

    --card: 222.2 30% 12%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 30% 12%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 25% 20%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 25% 20%;
    --muted-foreground: 210 30% 85%;

    --accent: 217.2 25% 20%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 38%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 20% 32%;
    --input: 217.2 20% 32%;
    --ring: 212.7 26.8% 83.9%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
