@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Laranja: #ED4231;
  --Branco-Gelo: #EDF2FB;
  --Preto: #262626;
  --Laranja-escuro: #c93a2d;
  --bordas: 1px solid var(--Preto);
  --bordas-hover: 1px solid var(--Laranja);
  --azulEscuro: #1A1466;
  --cinza: #ADADAD;
}

body,
input {
  font-family: 'Open Sans', sans-serif;

}

/* Garante que o body e o html ocupem 100% da tela */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Remove barras de rolagem */
}

/* Garante que o container principal ocupe 100% da tela */
.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Branco-Gelo); /* Cor de fundo */
}

.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.signin-signup {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

form.sign-up-form {
  opacity: 0;
  z-index: 1;
}

form.sign-in-form {
  z-index: 2;
}

.title {
  font-size: 2.2rem;
  color: #000;
  margin-bottom: 10px;
}

.input-field {
  align-items: center;
  max-width: 380px;
  width: 100%;
  background-color: var(--Branco-Gelo);
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.input-field i {
  font-size: 1.2rem;
  color: var(--cinza);
  cursor: pointer;
  transition: color 0.3s ease;
  align-items: center;
}

.input-field i:hover {
  color: var(--Laranja);
}

.input-field .fa-eye {
  position: absolute;
  margin-bottom: 10px;
  right: 15px;
}

.input-field .fa-eye-slash
{
  position: absolute;
  margin-bottom: 10px;

  right: 15px;
}

.input-field input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--cinza);
  background-color: var(--Branco-Gelo);
  border-radius: 5px;
  flex: 1;
 
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.social-text {
  padding: 0.7rem 0;
  font-size: 1rem;
  color: var(--Preto);
}

.social-media {
  display: flex;
  justify-content: center;
}



.social-icon {
  height: 46px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.45rem;
  color: #333;
  border-radius: 50%;
  border: 1px solid #333;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.3s;
}

.social-icon img{
  width: 50%;
}

.social-icon:hover {
  color: #ED4231;
  border-color: #ED4231;
}

.btn {
  width: 150px;
  background-color: #ED4231;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}
.btn-2{
    width: 250px;
    height:49px;
    border: none;
    outline: none;
    border-radius: 49px;
    color: #fff;
    background-color: #000;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5;
   
  }

.btn:hover {
  background-color: var(--Laranja-escuro);
}
.panels-container {
  background-color: var(--Branco-Gelo);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.image {
  width: 100%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}

.left-panel .image{
  width: 400px;
  height: 355px;  
}

.right-panel .image{
  width: 470px;
  height: 470px;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.right-panel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

.panel .content {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

.content p{
  margin: 50px;
}

.panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}

.panel p {
  font-size: 0.95rem;
  padding: 0.7rem 0;
}

.btn.transparent {
  margin: 0;
  background: none;
  background-color: #ED4231;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
}

.btn.transparent:hover{
  background-color: var(--Laranja-escuro)
}

.right-panel .image,
.right-panel .content {
  transform: translateX(800px);
}

.container:before {
  content: "";
  position: absolute;
  height: 1000px; /* Tamanho do círculo */
  width: 1000px; /* Tamanho do círculo */
  top: 50%; /* Centraliza verticalmente */
  left: 10%; /* Move o círculo mais para a esquerda */
  transform: translate(-50%, -50%); /* Garante centralização relativa ao ponto definido */
  background-image: linear-gradient(-45deg, #661165 100%, #000 20%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

/* ANIMATION */

.container.sign-up-mode:before {
  left: 96%; /* Move o círculo mais para a esquerda no modo sign-up */
  transform: translate(-50%, -50%);
}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content {
  transform: translateX(-800px);
}

.container.sign-up-mode .signin-signup {
  left: 25%;
}

.container.sign-up-mode form.sign-up-form {
  opacity: 1;
  z-index: 2;
}

.container.sign-up-mode form.sign-in-form {
  opacity: 0;
  z-index: 1;
}

.container.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .content {
  transform: translateX(0%);
}

.container.sign-up-mode .left-panel {
  pointer-events: none;
}

.container.sign-up-mode .right-panel {
  pointer-events: all;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-conteudo {
  background-color: var(--Branco-Gelo);
  margin: 15% auto;
  padding: 20px;
  border: 5px solid var(--Laranja);
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: larger;
  width: 40%;
  height: 20%;
  position: relative;
  display: flex;
}

.modal-conteudo button.fechar{
  margin-top: 20px;
  width: 100px;
  height: 100px;
  border-radius: 20px;
  border-style: none;
  background-color: var(--Laranja);
  color: var(--Branco-Gelo);
  font-size: medium;
 cursor: pointer;
}

.modal-conteudo button:hover{
  background-color: var(--Laranja-escuro);
  color: var(--Branco-Gelo);
}

.modal-conteudo p{
  color: var(--Preto);
}

.fechar {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.fechar:hover,
.fechar:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 870px) {
  
  .signin-signup {
    width: 100%;
    top: 75%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .signin-signup,
  .container.sign-up-mode .signin-signup {
    left: 50%;
  }

  .content {
    padding: 0 12%;
  }

  .panels-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
    
  }

  .right-panel {
    grid-row: 3 / 4;
  }



  .left-panel {
    grid-row: 1 / 2;
   
  }

  .image {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
    display: none;
  }

  .panel .content {
    padding-right: 15%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }

  .panel h3 {
    font-size: 1.2rem;
    padding-top: 2.3rem;
  }

  .panel p {
    font-size: 0.7rem;
    padding: 0.0rem 0;
  }

  .btn.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }
 

  .container {
    display: flex;
    justify-content: center; /* Alinha horizontalmente */
    align-items: center; /* Alinha verticalmente */
    width: 50px;
    height: 100%;
    padding: 1.5rem;
    overflow: hidden;
  }

  .container:before {
    height: 400px; /* Reduz ainda mais o tamanho do círculo */
    width: 820px; /* Reduz ainda mais o tamanho do círculo */
    top: 12%;
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .container.sign-up-mode:before {
    height: 400px; /* Mantém o tamanho reduzido */
    width: 820px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .container.sign-up-mode .left-panel .image,
  .container.sign-up-mode .left-panel .content {
    transform: translateY(-300px);
  }

  .container.sign-up-mode .right-panel .image,
  .container.sign-up-mode .right-panel .content {
    transform: translateY(0px);
  }

  .right-panel .image,
  .right-panel .content {
    transform: translateY(300px);
  }

  .container.sign-up-mode .signin-signup {
    top: 5%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 570px) {
  /* Centraliza o container */
  .container {
    display: flex;
    justify-content: center; /* Alinha horizontalmente */
    align-items: center; /* Alinha verticalmente */
    flex-direction: column; /* Organiza os elementos em coluna */
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    overflow: hidden;
  }

  /* Ajusta o círculo */
  .container:before {
    height: 270px; /* Reduz o tamanho do círculo */
    width: 343px; /* Reduz o tamanho do círculo */
    top: 15%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%);
  }

  .container.sign-up-mode:before {
    height: 480px; /* Mantém o tamanho reduzido */
    width: 343px;
    top: 90%; /* Ajusta a posição vertical */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%);
  }

  /* Centraliza os painéis */
  .panel {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    width: 100%;
    height: 70%;
  }

  .panel .content {
    padding: 0; /* Remove padding extra */
    text-align: center; /* Centraliza o texto */
  }
}